

.container {
    margin-top: 200px;
    margin-bottom: 200px;
    padding: right 20%;
    padding: left 20%;
    background-color: #343a40d2;
}

body {
    background-attachment: scroll;
    background-image: url("blackwood.jpg");
}

.row {
    color: lightgrey;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.col-md-8 {
} 

.col-md-4 {
    float: right;
}
