
h1, p {
  color: lightgrey;
  font-family: serif;
}

h3, #links {
  padding-left: 50px;
}

.links, #links, h3{
  color: lightgrey;
  font-family: serif;
  font-size: 20px;
}

.container {
    margin-top: 80px;
    margin-bottom: 200px;
    padding: right 20%;
    padding: left 20%;
    background-color: #343a40d2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen {
body {
    background-attachment: scroll;
    background-image: url("../assets/blackwood.jpg");
}
}

img {
  border:5px solid black;
  border-radius: 8px;
}

#myphoto {
  margin-left:50px;
}


.row {
    color: lightgrey;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}

.container-contact {
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 200px;
  margin-right: 200px;
  border-color: black;
  background-color: #343a40d2;
  font-family: serif;
}

.input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
    resize: vertical;
  }

  .col-md-6 {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding-left: 10px;
    padding: 50px;
  }

  .col-md-6-img {
    float: left;
    width: 50%;
    margin-top: 55px;
    padding-left: 10px;
    
  }

  .col-md-3 {
    margin: 30px;
    padding: 10px;
    padding-left: 30px;
  }



